.community_page {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.community_page .community_frame {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.community_page .community_frame .loader_wrapper {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.community_page .chat_frame {
  width: 30%;
  height: 600px;

  display: flex;
  flex-direction: column;
  background-color: #182226;
  border-radius: 34px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.community_page .community_all_frame {
  width: 100%;
  height: auto;
}

.community_page .chat_frame .chat_top {
  width: 100%;
  height: 94px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(228, 228, 228, 0.83);

  font-family: "Pretendard", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #fff;
}

.community_page .chat_content {
  position: relative;
  padding: 17px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background: #fff;
}

.community_page .chat_content .chat_main {
  position: relative;
  /*padding: 17px;*/
  width: 100%;
  /*height: 100%;*/

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.community_page .chat_frame .chat_bott {
  width: 100%;
  height: 94px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(228, 228, 228, 0.83);
}

.community_page .chat_bott .msg_input {
  padding: 20px;
  width: 276px;
  height: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  border-radius: 28px;
  border: none;
  outline-color: #257677;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.community_page .chat_bott .send_msg_btn {
  margin-left: 14px;
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(180deg, #55a99d 0%, #007665 100%);
  border: none;
}

.community_page .chat_main .msg_left {
  margin-left: 10px;
  padding: 9px;
  width: auto;
  height: auto;

  display: flex;
  background: rgba(228, 228, 228, 0.83);
  border-radius: 20px 20px 20px 0px;
}

.community_page .msg_right {
  padding: 9px;
  width: auto;
  height: auto;

  display: flex;
  background: #d0ece8;
  border-radius: 20px 20px 0px 20px;
}

.community_all_frame .article_tabs {
  width: 100%;
  height: 94px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.article_main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.community_page .all_articles_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.community_page .all_article_box {
  display: flex;
  flex-direction: column;
  width: clamp(22rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  border-radius: 4px;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.community_page .all_article_box:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.community_page .article_header {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  overflow: hidden;
}

.community_page .all_article_box img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.community_page .all_article_box .all_article_container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.community_page .all_article_box .all_article_container .author_image {
}

.community_page .all_article_author_user {
  font-family: Pretendard, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}

.community_page .written_date {
  color: #666;
  font-weight: 400;
}

.community_page .all_article_title {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}
.community_page .user_name_container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.community_page .all_article_desc {
  font-size: 16px;
  font-family: Pretendard, sans-serif;
  text-transform: capitalize;
  color: #000;
}

.community_page .article_share {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 8px;
}

.community_page .article_bott {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-top: 1px solid rgba(228, 228, 228, 0.83);
}

/* MUI */
.css-wk329g-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #fff;
}

.css-heg063-MuiTabs-flexContainer {
  gap: 15px;
}
