.my_page {
  width: 100%;
  height: auto;
  display: flex;
  background: #dddddd;
}

.my_page .left_frame {
  display: flex;
  justify-content: center;
}

.my_page .css-heg063-MuiTabs-flexContainer {
  flex-direction: column;
}

.my_page .css-mn3ro6-MuiTabs-indicator {
  height: 0px;
  width: 0px;
}

.my_page .css-1ujnqem-MuiTabs-root {
  width: 100%;
}

.my_page .my_page_frame {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.my_page_frame .my_page_left {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.my_page_left .menu_name {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ffffff;

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: gray;
}

.my_page_left .menu_content {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.my_page_left .write_content {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.my_page .menu_content .post_content {
  margin-top: 10px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.my_page .all_article_box {
  width: 90%;
  height: 200px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 0.5px solid gray;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.my_page .all_article_box .mb_name_holder {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  width: 100%;
}

.my_page .all_article_box .all_article_img {
  width: 130px;
  height: 130px;
  margin-top: 10px;
  border-radius: 15px;
  /* background: url(https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3160&q=80); */
  background-size: cover;
  overflow: hidden;
}

.my_page .all_article_box .all_article_container {
  margin-left: 15px;
  width: 75%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.my_page .all_article_author_user {
  margin-left: 10px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: gray;
}

.my_page .all_article_title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #000;
}

.my_page .all_article_desc {
  margin-top: 5px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: gray;
}

.my_page .article_share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.my_page .article_share .article_share_main {
  width: 330px;
  height: 100%;

  display: flex;
  flex-direction: row;
}

.my_page .menu_content .follow_box {
  margin-top: 15px;
  padding: 25px 45px;
  width: 80%;
  height: 140px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.my_page .follow_box .username_text {
  margin-top: 10px;
  width: 100%;

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 12px;
  color: #434242;
}

.my_page .follow_box .name_text {
  margin-top: 16px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #434242;
}

.my_page .follow_box .follow_btn {
  width: 175px;
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #8675a9;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
}

.my_page .follow_box .follow_cancel_btn {
  width: 170px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #eb2f2fb8;
  border-radius: 10px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.my_page .follow_box .following_already {
  margin-left: 11px;
  width: 160px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #4fa095;

  border-radius: 10px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.my_page_frame .my_page_right {
  margin-left: 30px;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.my_page .order_info_box {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: #8675a9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.my_page .order_info_box .user_menu_top {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my_page .order_info_box .user_menu_bottom {
  width: 100%;
  display: flex;

  justify-content: flex-start;
  padding: 10px 20px 10px 20px;
  flex-direction: column;
  background-color: #fff;
}

.my_page .order_info_box .settings_btn {
  position: absolute;
  top: 6%;
  right: 19%;
  cursor: pointer;
  color: #fff;
}

.my_page .order_info_box .order_user_img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_page .order_info_box .order_user_img .order_user_avatar {
  width: 117px;
  height: 112px;
  border-radius: 90px;
  border: 1px solid #fff;
}

.my_page .order_info_box .order_user_icon_box {
  position: absolute;
  padding: 5px;
  width: 37px;
  height: 37px;
  top: 81%;
  right: 0;
  display: flex;
  background: rgb(209 209 209 / 33%);
  border-radius: 37px;
}

.my_page .order_user_icon_box .order_user_prof_img {
  /*filter: brightness(0) invert(1);*/
}

.my_page .order_info_box .order_user_name {
  margin-top: 10px;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #fff;
}

.my_page .order_info_box .order_user_prof {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: #000;
}

.my_page .order_info_box .user_menu_bottom .user_media_box {
  margin-top: 10px;
  width: 60%;

  display: flex;
  flex-direction: column;
}

.my_page .order_info_box .user_desc {
  margin-top: 30px;
  width: 90%;
  display: flex;

  font-family: "Helvetica";
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: gray;
}

.my_page .order_info_box .follows {
  margin-top: 10px;
  width: 90%;
  display: flex;

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #616164;
}

.my_page .order_info_box .css-1e3kzd4-MuiButtonBase-root-MuiButton-root {
  margin-top: 15px;
  min-width: 90%;
  height: 44px;

  text-transform: capitalize;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
}

.my_page .my_page_menu {
  width: 100%;
  height: 94px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .my_page_menu .menu_box {
  margin-bottom: 10px;
  padding: 0px 20px;
  width: 98%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid gray;
} */

.my_page .active {
  background: red;
}

.my_page .menu_box img {
  width: 25px;
}

.my_page .menu_box span {
  margin-left: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #000000;
}

.my_page .my_settings_page {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.my_page .my_settings_page .input_frame {
  margin-top: 25px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my_page .my_settings_page .short_input {
  width: 49%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.my_page .my_settings_page .long_input {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.my_page .my_settings_page .spec_label {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.my_page .my_settings_page .spec_input {
  position: relative;
  margin-top: 10px;
  padding-left: 20px;
  width: 100%;
  height: 54px;
  border: none;

  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
}

.my_page .my_settings_page .spec_textarea {
  position: relative;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  height: 200px;
  border: none;

  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
}

.my_page .my_settings_page .member_media_frame {
  margin-top: 25px;
  position: relative;
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 5px;
  background: #f7f7f7;
}

.my_page .my_settings_page .media_change_box {
  position: relative;
  margin-left: 20px;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.my_page .my_settings_page .media_change_box span {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #140342;
}

.my_page .my_settings_page .media_change_box p {
  margin: 10px 0px 14px 0px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4f547b;
}

.my_page .my_settings_page .up_del_box {
  position: relative;
  width: 37px;
  height: 37px;
  display: flex;
  background: #cbcbcb;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.my_page .my_settings_page .up_del_box input {
  position: absolute;
  width: 20px;
  height: 16px;
  padding: 0;
  background: red;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
