.format.home_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
}

.format .home_navbar {
  width: 100%;
  height: 600px;
  display: flex;
  background: url("../../public/home/navbar-bg.svg");
  background-color: #222;
  background-size: cover;
  padding: 100px 0 100px 0;
}

.format_brand.home_navbar {
  width: 100%;
  /* height: 600px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.format_others.home_navbar {
  width: 100%;
  height: 600px;
  display: flex;
  background: url("/public/home/others-main.jpg");
  background-size: cover;
}

.format_brand.home_navbar .head_information {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../public/home/navbar-bg.svg");
}

.format .head_info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.format_others.home_navbar .head_information {
  display: flex;
  align-items: center;
  justify-content: center;
}

.format_brand.home_navbar .head_information .mouse_img {
  height: 450px;
  margin-top: 200px;
  margin-right: 80px;
}

.format_brand.home_navbar .head_information .keyboard_img {
  height: 350px;

  margin-left: 100px;
}

.format_brand.home_navbar .head_information .head_text {
  position: absolute;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 0 #000;
}

.format_others.home_navbar .head_information .head_text {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 0 #000;
}

.home_wrapper .navbar_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.format.home_wrapper .navbar_config_wrapper {
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #656565;
  color: #fff;
}

.format.home_wrapper .navbar_config {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1244.69px;
  height: 80px;
  margin-left: 26px;
  background: #222;
  color: #ffffff;
  /* background-color: #222; */
}

.format_brand.home_navbar .navbar_config_brand {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  align-items: center;
}

.format_brand .basket_wrapper {
  background-color: #656565;
  border-radius: 90px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.format_brand.home_navbar .navbar_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.format.home_wrapper .navbar_config .navbar_links {
  display: flex;
  align-items: center;
  gap: 45px;
  height: 46px;
  border-radius: 15px;
  color: #fff;
}

.format_others .nav_links {
  width: 752px;
  height: 46px;
}

.home_wrapper a {
  text-decoration: none;
}

.home_navbar a {
  text-decoration: none;
}

.home_wrapper .navbar_links .hover-line a {
  color: #ffffff;
}

.home_wrapper .underline {
  display: block;
  content: "";
  border-bottom: solid 2px #d7b686;
}

.home_wrapper .hover-line:after {
  display: block;

  content: "";
  border-bottom: solid 2px #d7b686;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.home_wrapper .hover-line:hover::after {
  transform: scaleX(1);
}

/* ----- */
.home_navbar .navbar_links .hover-line a {
  color: #1f1f1d;

  text-align: center;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.home_navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 2px #1f1f1d;
}

.home_navbar .hover-line:after {
  display: block;

  content: "";
  border-bottom: solid 2px #1f1f1d;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.home_navbar .hover-line:hover::after {
  transform: scaleX(1);
}

.home_navbar .head_information_brand {
  width: 1920px;
  height: 311px;
  flex-shrink: 0;
  position: relative;
}

.home_navbar .head_information_brand .rectangle {
  width: 1200px;
  height: 270px;
  flex-shrink: 0;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

.home_navbar .head_information_brand .head_info_box {
  bottom: 0;
  right: 0;
  position: absolute;

  width: 1600px;
  height: 270px;
  flex-shrink: 0;

  border-radius: 0px 0px 0px 96px;
  background: #edf3fc;
  z-index: 0;
}

.home_navbar .head_items {
  display: flex;
  flex-direction: column;
}

.home_navbar .define_restaurant {
  position: relative;
  width: 484px;
  height: 143px;
  margin-top: 40px;

  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 75px;
  color: #ffffff;
  letter-spacing: -1.08px;
}

.home_navbar .timeline_service {
  position: relative;
  width: 466px;
  height: 28px;
  margin-top: 12px;

  color: #e4e4e4;

  font-family: "Pretendard", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.36px;
}

.home_navbar .big_img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.home_navbar .shop_btn {
  margin-top: 59px;
  display: flex;
  flex-direction: row;
  width: 128px;
  height: 44px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--base-white, #fff);
  font-family: "Pretendard", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  border-radius: 99px;
  background: linear-gradient(270deg, #5912ff 0%, #9c1fff 100%);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
}

/* .home_navbar .shop_btn:hover {
  border: 1px, solid #2f3132;
  background-color: pink;
  color: #000;
} */

/* START BASKET */

.basket_frame {
  position: relative;
  padding: 10px 4px 0px 4px;
  width: 450px;
  height: auto;

  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 16px;
}

.basket_frame .all_check_box {
  padding: 0px 6px;
  width: 100%;
  height: 35px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.5px solid gray;
}

.basket_frame .basket_info_box {
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.basket_info_box .product_img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 29px;
}

.basket_info_box .product_name {
  margin-left: 11px;
  width: 185px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.basket_info_box .product_price {
  width: 80px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #000;
}

.basket_info_box
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 6.5px 14px;
}

.basket_info_box .css-ece9u5 {
  min-width: 72px;
}

.basket_frame .cancel_btn {
  position: absolute;
  top: 33%;
  right: 3%;
  cursor: pointer;
  margin-left: 10px;
}

.basket_frame .to_order_box {
  margin-top: 10px;
  width: 100%;
  height: 64px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.to_order_box .price_text {
  margin-left: 27px;
  margin-right: 10px;
  width: 200px;
  display: flex;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket_frame .orders_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.basket_frame .orders_main_wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  height: 260px;

  display: flex;
  flex-direction: column;
}

/* END BASKET */
